<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wottrich.github.io.featurenew">

    <application>
        <activity
            android:name="wottrich.github.io.featurenew.view.NewChecklistActivity"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>